<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../static/css/connexion.css">
</head>

<body>


        <div class="conteneur-transparent">
                
            <h1>Connectez-vous</h1>
        
            <br>
            <br>
            <br>
            <form method="post" action="">
                <div class="container">
                    <div class="left">
                        <label for="name">Nom ou email</label>   
                        <br>
                        <br>
                        <input type="text" name="nom ou email" id="nom ou email">    
                        <br>
                        <br>
                        <br>
                        <label for="tel">Mot de pass</label> 
                        <br>
                        <br>
                        <input type="password" name="Mot de pass">  
                    </div>
                    </div>
                
                <a href="" class="compte"><p>vous n'avez pas de compte? <br>Inscrivez-vous</p></a>
                <div class="AB">
                    <a href="#"><button type="submit">soumettre</button></a>
                </div>
            </form>
        
        </div>

</body>
</html>