<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static "css/connexion.css" %}">
</head>

<body>


        <div class="conteneur-transparent">
                
            <h1>Connectez-vous</h1>
        
            <br>
            <br>
            <br>
            <form method="post" action="">
                {% csrf_token %}
                <div class="container">
                    <div class="left">
                        <label for="name">Nom d'utilisateur</label>   
                        <br>
                        <br>
                        <input type="text" name="username" id="username">    
                        <br>
                        <br>
                        <br>
                        <label for="password">Mot de pass</label> 
                        <br>
                        <br>
                        <input type="password" name="password" id="password">  
                    </div>
                    </div>
                
               
                <p>Vous n'avez pas de compte ? <a href="{% url "register" %}" class="compte" style="color:#066384;">Inscrivez-vous</a></p>
                    <button type="submit">soumettre</button>
              
            </form>
        
        </div>

</body>
</html>